@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
    margin: 0;
}

.container{
    position: relative;
}

.header{
    box-shadow: 0 6px 15px -4px rgba(0, 0, 0, .2);
}

.header-logo{
    padding-top: 8px;
    margin-left: 100px;
}

.nav{
    display: flex;
    align-items: center;
}

.navbut{
    display: flex;
    align-items: center;
}

.nav-item{
    margin-right: 200px;
}

.img{
    width: 60%;
    height: auto;
}

.img1{
    width: 60%;
    height: auto;
}

.mediacenter{
    font-size: 90px;
    font-family: Montserrat;
    text-align: center; 
    color: #024392;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.bord{
    display: flex;
    align-items: center;
    width: 50%;
    height: auto;
}
.rect{
    width: 40%;
    height: auto;
    margin-left: 75px;
}

.rect1{
    width: 40%;
    height: auto;
    margin-left: 75px;
    margin-top: 50px;
}

.part{
    margin-left: 75px;
    margin-top: 35px;
}

.uch{
    width: 12%;
    height: auto;
}

.social{
    position: absolute;
    bottom: 25px;
    left: 50px;
}

.social-item{
    margin-left: 25px;
    text-decoration: none;
}

.social-img{
    width: 11%;
    height: auto;
}

.help{

}

.help-img{
    position: absolute;
    bottom: 25px;
    right: 40px;
    width: 20%;
    height: auto;
}