body{
    margin: 0;
}

.header{
    box-shadow: 0 6px 15px -4px rgba(0, 0, 0, .2);
}

.header-logo{
    padding-top: 8px;
    margin-left: 25px;
}

.nav{
    display: flex;
    align-items: center;
}

.nav-item{
    margin-left: 50px;
}

.img{
    width: 50%;
    height: auto;
}