@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
    margin: 0;
}

.header{
    box-shadow: 0 6px 15px -4px rgba(0, 0, 0, .2);
}

.header-logo{
    padding-top: 8px;
    margin-left: 100px;
}

.nav{
    display: flex;
    align-items: center;
}

.navbut{
    display: flex;
    align-items: center;
}

.nav-item{
    margin-right: 200px;
}

.img{
    width: 60%;
    height: auto;
}

.img1{
    width: 60%;
    height: auto;
}

.mediacenter{
    font-size: 100px;
    font-family: Montserrat;
    text-align: center; 
    color: #024392;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 75px;
}

.bord{
    display: flex;
    align-items: center;
    width: 50%;
    height: auto;
}
.rect{
    width: 50%;
    height: auto;
    margin-left: 150px;
}

.rect1{
    width: 50%;
    height: auto;
    margin-left: 150px;
    margin-top: 50px;
}

.TakePart{
    
}